version: '3.9'

services:

  # -------------------------
  # RABBITMQ (Shared Message Bus)
  # -------------------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP
      - "15672:15672"   # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  # -------------------------
  # APARTMENT SERVICE
  # -------------------------
  apartment_api:
    container_name: apartment_api
    build:
      context: ./ApartmentService 
      dockerfile: Api/Dockerfile
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      DOTNET_RUNNING_IN_CONTAINER: true
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__Default: "Server=apartment_sql;Database=ApartmentDb;User=sa;Password=Yourpassword123!;TrustServerCertificate=True;"
      RabbitMQ__Host: "rabbitmq"
      RabbitMQ__Port: "5672"
      RabbitMQ__User: "guest"
      RabbitMQ__Pass: "guest"
      RabbitMQ__ExchangeName: "rent-hub.exchange"
    depends_on:
      - apartment_sql
      - rabbitmq

  apartment_sql:
    container_name: apartment_sql
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: "Yourpassword123!"
    ports:
      - "1433:1433"
    volumes:
      - apartment_sql_data:/var/opt/mssql
 
  # -------------------------
  # BOOKING SERVICE
  # -------------------------
  booking_api:
    container_name: booking_api
    build:
      context: ./BookingService
      dockerfile: Api/Dockerfile
    ports:
      - "8083:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      DOTNET_RUNNING_IN_CONTAINER: true
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__Default: "Server=booking_sql;Database=BookingDb;User=sa;Password=Yourpassword123!;TrustServerCertificate=True;"
      RabbitMQ__Host: "rabbitmq"
      RabbitMQ__Port: "5672"
      RabbitMQ__User: "guest"
      RabbitMQ__Pass: "guest"
      RabbitMQ__ExchangeName: "rent-hub.exchange"
    depends_on:
      - booking_sql
      - rabbitmq

  booking_sql:
    container_name: booking_sql
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: "Yourpassword123!"
    ports:
      - "1434:1433"
    volumes:
      - booking_sql_data:/var/opt/mssql

# -------------------------
# FRONTEND SERVICE
# -------------------------
  frontend:
    container_name: react-vite-app
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    volumes:
      - ./Frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - apartment_api
      - booking_api
    restart: always

# -------------------------
# AUTH SERVICE
# -------------------------
  auth:
    container_name: auth_service
    build:
      context: ./flask_auth_service
      dockerfile: Dockerfile
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASS=guest
      - RABBITMQ_EXCHANGE=rent-hub.exchange
    depends_on:
      - rabbitmq
    ports:
      - "5004:5000"   # Flask on http://localhost:5004

# -------------------------
# VOLUMES
# -------------------------
volumes:
  apartment_sql_data:
  booking_sql_data:

